
#main_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#topics {
  padding: 1%;
  word-spacing: 4%;
  font-family: comic sans-serif;
  color: black;
  font-weight: bold;
  font-size: 120%;
  font-style: italic;
  text-align: center;
}
img {
  width: 100%;
  height: 90%;
}
.bt {
  background-color: #07d749;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  height: 30px;
  align-items: center;
  font-size: 17px;
}
.bt:hover {
  background-color: #06a638;
  color: whitesmoke;
}
#short_details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
hr {
  width: 95%;
}
#price_buy {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#fa fa-caret-down {
  font-style: none;
}
.groove {border-style: groove;}

.home_image{
  width: 5%;
  height:5% ;
}
